body{
    text-align: center;
}

.btn{
    height: 150px;
    width: 150px;
    border-radius: 14%;
    border: 5px solid black;
    margin: 2rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: #d60846;
}
.yellow{
    background-color: rgba(255, 255, 0, 0.777);
}
.green{
    background-color: #25d925;
}
.purple{
    background-color: rgb(169, 0, 169);
}
.flash{
    background-color: white;
}

.userFlash{
    background-color: white;
}